- title protips_heading
- description protips_description
- keywords (topic_tags + ['tips', 'programming', 'coding'])

-content_for :breadcrumbs do
  -if protips_view_breadcrumbs.present?
    .mxn1.font-tiny.mt0.diminish
      -protips_view_breadcrumbs.each do |name, link|
        %a.btn.px1{href: link}=name
        .inline.hide_last_child /

- cache protip_list_cache_key, expires_in: sort_expiry do
  .container
    .clearfix
      .sm-col.sm-col.sm-col-12.md-col-8
        -if first_page?
          .mb2.purple{style: "border-bottom:solid 5px;"}
            %h2.mt0.black=protips_heading
            %p.clearfix.py1.font-lg.black=protips_description
        =render @protips
        .clearfix
          .btn.left= link_to_previous_page @protips, 'Previous'
          .btn.right= link_to_next_page @protips, 'Next'

      .md-col.md-show.md-col-4
        .clearfix.ml3
          -if first_page?
            -categories = Category.children(params[:topic])
            -if categories.present?
              .clearfix.mb4
                .clearfix.ml1.mb1
                  %h5.mt0
                    =icon 'tags', class: 'mr1'
                    Related Tags
                -categories.each do |tag|
                  %a.p1.card.border-box.rounded.border.mb1.ml1.left.center.no-hover{href: popular_topic_path(topic: tag)}
                    .font-sm=tag
            -unless on_fresh?
              .clearfix.ml1.mb3
                %h5.mt0
                  =icon 'magic', class: 'mr1'
                  Recent Activity
                -recently_created_protips.each do |protip|
                  .clearfix.mt2
                    =link_to(protip.title, protip_path(protip), class: 'black no-hover')
                    .block
                      .font-sm
                        =link_to protip.user.username, profile_path(username: protip.user.username)
                        .diminish.inline
                          &middot;
                          = protip.display_tags
                %a.block.mt2.bold{href: protips_fresh_topic_path}
                  Newest
                  = topic_short_name
                  protips
            -else
              .clearfix.ml1.mb3
                %h5.mt0
                  =icon 'calendar', class: 'mr1'
                  Most Viewed This Month
                -recently_viewed_protips.each do |protip|
                  .clearfix.mt2
                    =link_to(protip.title, protip_path(protip), class: 'black no-hover')
                    .font-sm
                      =link_to protip.user.username, profile_path(username: protip.user.username)
                      .diminish.inline
                        &middot;
                        = protip.display_tags
                %a.block.mt2.bold{href: protips_popular_topic_path}
                  Popular
                  = topic_short_name
                  protips
            .mb4

        .clearfix.ml3
          .bg-white.rounded.p1
            %h5.mt0.mb1
              =icon('diamond', class: 'mr1')
              Featured Programming Jobs
            %hr.mt1
            -Job.featured(3).each do |job|
              =render 'jobs/mini', job: job

            %a.block.mt2.bold{href: jobs_path}
              Search all programming jobs
