- title protips_title
- description protips_description
- keywords (topic_tags + ['tips', 'programming', 'coding'])

-content_for :breadcrumbs do
  -if protips_view_breadcrumbs.present?
    .mxn1.font-tiny.mt0.diminish
      -protips_view_breadcrumbs.each do |name, link|
        %a.btn.px1{href: link}=name
        .inline.hide_last_child /

- cache protip_list_cache_key, expires_in: sort_expiry do
  .container
    .clearfix
      .sm-col.sm-col.sm-col-12.md-col-8
        -if first_page?
          .purple{style: "border-bottom:solid 5px;"}
            %h2.mt0.black=protips_heading
            %p.clearfix.py1.font-lg.black=protips_description
        .py2.bg-white
          .pr1=render @protips

        .clearfix.mt1.py2.xs-mb4
          .col.col-6.sm-col-3
            .btn.pl0.left.h4= link_to_previous_page @protips, "Previous Page"
          .col.col-6.muted.xs-hide
            .py1.center=page_entries_info @protips, entry_name: 'tips'
          .col.col-6.sm-col-3
            .btn.pr0.right.h4= link_to_next_page @protips, 'Next Page'

      .sm-col.sm-col.sm-col-12.md-col-4

        .clearfix.ml3.md-show
          -if first_page?
            -categories = Category.children(params[:topic])
            -if categories.present?
              .clearfix.mb4
                .clearfix.ml1.mb1
                  %h5.mt0.mb1
                    =icon 'tags', class: 'mr1'
                    Related Tags
                -categories.each do |tag|
                  %a.p1.card.border-box.rounded.border.mb1.ml1.left.center.no-hover{href: popular_topic_path(topic: tag)}
                    .font-sm=tag
            -unless on_fresh?
              .clearfix.ml1.mb3
                %h5.mt0.mb1
                  =icon 'magic', class: 'mr1'
                  Recent Activity
                %hr
                -recently_created_protips.each do |protip|
                  .clearfix.mt2
                    =link_to(protip.title, protip_path(protip), class: 'black no-hover')
                    .block
                      .font-sm
                        =link_to protip.user.username, profile_path(username: protip.user.username)
                        .diminish.inline
                          &middot;
                          = protip.display_tags
                %a.block.mt2.bold{href: protips_fresh_topic_path}
                  Newest
                  = topic_short_name
                  protips
            -else
              .clearfix.ml1.mb3
                %h5.mt0
                  =icon 'calendar', class: 'mr1'
                  Most Viewed This Month
                %hr
                -recently_viewed_protips.each do |protip|
                  .clearfix.mt2
                    =link_to(protip.title, protip_path(protip), class: 'black no-hover')
                    .font-sm
                      =link_to protip.user.username, profile_path(username: protip.user.username)
                      .diminish.inline
                        &middot;
                        = protip.display_tags
                %a.block.mt2.bold{href: protips_popular_topic_path}
                  Popular
                  = topic_short_name
                  protips
            .mb4

        .clearfix.sm-ml3.mb3.p1
          .clearfix
            .col.col-7
              %h5.mt0
                =icon('diamond', class: 'mr1')
                Awesome Jobs
            .col.col-5
              .right.font-sm.bold
                %a.block{href: jobs_path}
                  See All Jobs
                  =icon('arrow-right')
          %hr
          -Job.featured(3).each do |job|
            =render 'jobs/mini', job: job, location: 'Protip List'

          %a.mt3.btn.rounded.bg-green.white.border.px2.py1.hide{href: new_job_url}
            Post a Job for Programmers
            .mt1.font-sm== $#{Job::COST} for 30 days

          .mt2.font-sm
            %a.border--green.green.bold{href: new_job_url}
              Post a job for only
              == $#{Job::COST}

        -if show_ads?
          .clearfix.ml3.mt3{'ga-location' => 'Protip List'}
            #bsap_1305410.bsarocks.bsap_74f50e679004d8f4d62fec4b0f74ccf1
