=content_for :title do
  ==#{@protip.title} : #{@protip.public_id}

-# - meta description: protip_summary
-# - meta og: { description: protip_summary }
-# - meta og: { image: users_image_path(@protip.user) }
-#
-# - meta twitter: { card: 'summary' }
-# - meta twitter: { site: '@coderwall' }
-# - meta twitter: { title: sanitize(@protip.title) }
-# - meta twitter: { url: protip_url(@protip) }
-# - meta twitter: { description: protip_summary }
-# - meta twitter: { image: @protip.featured_image }
-# - meta twitter: { creator: { id: @protip.author.twitter_id } }
-#
-# = content_for :head do
-#   %link{ rel: 'canonical', href: slug_protips_url(id: @protip.public_id, slug: @protip.slug) }
-# {itemscope: true, itemtype:meta_article_schema_url}
-# {itemprop: :dateCreated, content: @protip.created_at}

.continer
  %meta
  .clearfix
    .md-col.md-col-2.md-show &nbsp;
    .sm-col.sm-col.sm-col-12.md-col-8
      .clearfix.mt0.mb1
        .left.mt1
          %a.heart.flat{:href => protip_likes_path(@protip), 'data-remote'=>"true", 'data-method'=>'post'}
            .highlight.mr1=icon("heart-o")
            .diminish.inline=@protip.hearts_count
        .right.pt0.mt0
          .diminish.inline.mr1
            =icon("eye")
            =number_to_human(@protip.views_count, precision: 4)
          &middot;
          %a.no-hover.diminish.inline.ml1.mr1{href: slug_protips_url(id: @protip.public_id, slug: @protip.slug)}=@protip.display_date
          &middot;
          .ml1.mr1.inline
            =link_to @protip.user.username, profile_path(username: @protip.user.username)
          .avatar{style: "background-color: #{@protip.user.color};"}=image_tag(avatar_url(@protip.user))
      .card.p1{style: "border-top:solid 5px #{@protip.user.color}"}
        -if signed_in? && current_user.can_edit?(@protip)
          .clearfix.mb2.mt2
            .right.mr1
              =link_to(icon('trash'), protip_path(@protip), method: :delete, class: 'diminish', 'data-confirm': 'This makes us very sad. Are you sure?')
              %a.ml1.btn.btn.bg-green.white{href: edit_protip_path(@protip)}
                Edit Protip

        %h1.px2.mt4.center=@protip.title
        .center
          -@protip.tags.each do |tag|
            %h6.inline=tag
        .content.p2.mt3=raw CFM::Markdown.render(@protip.body)
      -if @protip.comments.present?
        .clearfix.mt1.px2
          %h4==#{@protip.comments.size} Responses
          =render @protip.comments
    .md-col.md-col-2.md-show &nbsp;
