- title @protip.title
- meta canonical: slug_protips_url(id: @protip.public_id, slug: @protip.slug)
- meta keywords: @protip.tags
- meta description: protip_summary
- meta author: profile_url(username: @protip.user.username)
- meta twitter: { creator: @protip.user.twitter }           if @protip.user.twitter
- meta twitter: { creator: { id: @protip.user.twitter_id} } if @protip.user.twitter_id
- meta twitter: { image: avatar_url(@protip.user) }         if @protip.user.avatar
- meta og:      { image: avatar_url(@protip.user) }         if @protip.user.avatar

.container[@protip]
  .hide= time_tag @protip.created_at, itemprop: "datePublished"
  .hide= time_tag @protip.updated_at, itemprop: "dateModified"
  .hide[:name]= @protip.public_id

  .clearfix
    .sm-col.sm-col.sm-col-12.md-col-8
      .clearfix.mt0.mb1
        .left.mt-third= react_component 'Heartable',
                id: dom_id(@protip),
                href: protip_likes_path(@protip),
                initialCount: @protip.likes_count,
                layout: 'inline'
        .right
          .diminish.inline.mr1
            =icon("eye")
            =number_to_human(@protip.views_count, precision: 4)
          &middot;
          %a.no-hover.diminish.inline.ml1.mr1{href: slug_protips_url(id: @protip.public_id, slug: @protip.slug)}=@protip.display_date
          &middot;
          .ml1.mr1.inline
            =link_to @protip.user.username, profile_path(username: @protip.user.username)
          .avatar[:image]{style: "background-color: #{@protip.user.color};"}=avatar_url_tag(@protip.user)
      .card.p1{style: "border-top:solid 5px #{@protip.user.color}"}

        -if signed_in? && current_user.can_edit?(@protip)
          .clearfix.mb2.mt2
            .right.mr1
              =link_to(icon('trash'), protip_path(@protip), method: :delete, class: 'diminish', 'data-confirm': 'This makes us very sad. Are you sure?')
              %a.ml1.btn.rounded.bg-green.white{href: edit_protip_path(@protip)}
                Edit Protip

        - cache ['v2', @protip] do
          %h1.mt4.mb2.center[:headline]=@protip.title
          .center.mr1[:keywords]
            -@protip.tags.each do |tag|
              %h6.diminish.inline.px1=link_to tag, popular_topic_path(topic: tag)
          .content.p2.mt4[:articleBody]
            = sanitize CoderwallFlavoredMarkdown.render_to_html(@protip.body)


          .clearfix.ml2.mr2
            .sm-col.md-col-5.sm-col-12
              .mt2.author[:author]
                %h5.mt0[@protip.user]
                  .diminish.inline Written by
                  %a[:name]{href: profile_path(username: @protip.user.username)}
                    =@protip.user.display_name
                .font-tiny.mt1
                  %a{href: "http://twitter.com/home?status=#{protip_tweet_message}", target: 'twitter'}
                    .inline.blue=icon("twitter", class: "fa-1x")
                    .inline.diminish share to say thanks
            .sm-col.md-col-7.sm-col-12
              -if show_ads?
                .mt2.md-right.sm-center
                  -# .adunit#v1_protip{'data-dimensions'=>"320x100"}
                  -# :javascript
                  -#   $.dfp('181068894');

                  -# %script{async: true, src: "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
                  -# %ins{"class" => "adsbygoogle", "style" => "display:inline-block;width:320px;height:100px", "data-ad-client" => "ca-pub-6075623866293464", "data-ad-slot" => "3507958237"}
                  -# :javascript
                  -#   (adsbygoogle = window.adsbygoogle || []).push({});

                  :javascript{id: 'mNCC'}
                     medianet_width = "300";
                     medianet_height = "250";
                     medianet_crid = "777595362";
                     medianet_versionId = "111299";
                     (function() {
                         var isSSL = 'https:' == document.location.protocol;
                         var mnSrc = (isSSL ? 'https:' : 'http:') + '//contextual.media.net/nmedianet.js?cid=8CU5XGBHT' + (isSSL ? '&https=1' : '');
                         document.write('<scr' + 'ipt type="text/javascript" id="mNSC" src="' + mnSrc + '"></scr' + 'ipt>');
                     })();

        -if signed_in?
          #new-comment.new-comment.mt2.mb2.px2
            -if flash[:error]
              .clearfix.mb2.mt1.bg-red.white.py2.center.bold.rounded=flash[:error]
            = form_for Comment.new do |form|
              .border.rounded
                = form.hidden_field :protip_id, value: @protip.id
                = form.text_area :body, rows: 1, class: 'field block col-12 focus-no-border focus-pb3', placeholder: "Enter your response here. Smile and don't forget to be nice.", style: 'border: none; outline: none', value: flash[:data]
                .text-area-footer.px1.py1.font-sm
                  Markdown is totally
                  =icon('thumbs-o-up')
              %button.btn.rounded.mt2.green.bg-white.border-green{type: 'submit'} Respond
        -else
          #new-comment.new-comment.mt3.mb3.px2.center.bold
            =link_to 'Sign in', sign_in_path
            or
            =link_to 'sign up', sign_up_path
            to add your response.

      -if @protip.comments.present?
        .clearfix.mt1.px2
          %h4=pluralize(@protip.comments.size, 'Response')
          =render @protip.comments

    .md-col.md-show.md-col-4
      -if @protip.related_topics.present?
        .clearfix.ml3.mt3.p1
          %h5.mt0.mb1
            =icon('folder-o', class: 'mr1')
            Filed Under

          -@protip.related_topics.each do |topic|
            .topic.clearfix.py1
              %a{href: popular_topic_path(topic: topic)}
                .bold=t(topic, scope: :categories)

      - cache ['v1', @protip, 'featured-jobs', expires_in: 1.day ] do
        .clearfix.ml3.mt3
          .bg-white.rounded.p1
            %h5.mt0.mb1
              =icon('diamond', class: 'mr1')
              Featured Programming Job
            %hr.mt1
            -Job.featured(1).each do |job|
              =render 'jobs/mini', job: job

            %a.block.mt2.bold{href: jobs_path}
              Search all programming jobs


%script{ src: "https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js" }
