-cache ['v1', job, feature] do
  .job.card.clearfix.mb2[job]{ class: ('border' if feature) }
    .clearfix.p2
      .col.col-1.md-show
        - if job.company_logo.present?
          =image_tag(job.company_logo, width: 50)
        - else
          &nbsp;

      .col.col-8
        .ml1.mr1
          %h3.mt0
            %a.diminish-viewed[:title]{:href => job_path(job), rel: 'nofollow', target: '_blank', 'ga-event-category' => 'Jobs', 'ga-event-action' => 'Job Board', 'ga-event-label' => "#{job.id} - #{job.company}"}=job.title
          .font-sm
            .bold.inline=link_to(truncate(job.company, length:20), job.company_url, rel: 'nofollow', target: '_blank', 'ga-event-category' => 'Jobs', 'ga-event-action' => 'Job Board', 'ga-event-label' => "#{job.company} - #{job.id}")
            &middot;
            .diminish.inline=job.role_type
            &middot;
            .diminish.inline==posted #{time_ago_in_words(job.created_at)} ago

      .col.col-3
        .mt1.right-align.diminish
          =job.location
