- title 'Join today!'

.container
  %h2 Join Coderwall Today
  .sm-col-6
    %p Become a better programmer. Discover helpful protips, unlock achievements, and connect with other developers
    -@user.errors.full_messages.each do |error|
      %p.red.bold=error
    = form_for @user do |form|
      = form.label :username
      = form.text_field :username, type: 'text', class: 'field block col-10 mb1'
      = form.label :email
      = form.text_field :email, type: 'email', class: 'field block col-10 mb1'
      = form.label :password
      = form.password_field :password, class: 'field block col-10 mb1'
      %button.btn.mt1.rounded.bg-green.white{type: 'submit'} Sign Up
      .mt1.font-sm.diminish
        Creating an account means you’re okay with Coderwall's
        =link_to 'Terms of Service', tos_path
    .clearfix.mt3
      Already have an account?
      .inline.bold= link_to "Sign In", sign_in_path
