- title ["#{@user.display_name}'s profile", @user.username]
- meta canonical: profile_path(username: @user.username)
- meta keywords: @user.skills
- meta description: @user.about
- meta twitter: { creator: @user.twitter }           if @user.twitter
- meta twitter: { creator: { id: @user.twitter_id} } if @user.twitter_id
- meta twitter: { image: avatar_url(@user) }         if @user.avatar?
- meta og:      { image: avatar_url(@user) }         if @user.avatar?

.container[@user]
  .clearfix
    .sm-col.sm-col.sm-col-12.md-col-8
      .clearfix.mt0.mb1
        .right.mt1
          - if current_user&.admin? || params[:delete_account]
            = button_to user_path(@user), method: :delete, data: { confirm: "Deleting your account is permanent! Are you sure?" }, form_class: "diminish inline ml1 mr1 plain" do
              = icon('trash')
            &middot;
            - if current_user&.admin?
              .inline.diminish.mr1="Last accessed #{time_ago_in_words(@user.last_request_at)} ago"
            - else
              Deleting your account is permanent! Click the trash can again to continue
            &middot;
          - elsif current_user == @user
            .diminish.inline.ml1.mr1
              = link_to delete_account_path do
                = icon('trash')

          .diminish.inline.ml1.mr1
            ="Joined #{@user.created_at.to_formatted_s(:explicitly_bold)}"
          &middot;
          .ml1.mr1.inline[:alternateName]
            =link_to @user&.username, profile_path(username: @user.username)

      - cache ['user-details', @user, current_user] do
        .card.p3{style: "border-top:solid 5px #{@user.color}"}
          -if current_user == @user || current_user&.admin?
            .clearfix.mb3
              .right
                =link_to('Sign out', sign_out_path, method: :delete, class: 'diminish')
                %a.ml1.btn.rounded.bg-green.white{href: edit_user_path(@user)}
                  Edit Profile

          .clearfix
            .left.avatar.big[:image]{style: "background-color: #{@user.color};"}
              =avatar_url_tag(@user)
            .overflow-hidden
              %h1.ml2.mt0.mb0[:name]= @user.display_name
              %h4.ml2.mt1
                -if @user.display_title.present?
                  =@user.display_title
                  .hide[:jobTitle]= @user.title
                  .hide[:worksFor]= @user.company
                  .hide_last_child.inline &middot;
                -if @user.location.present?
                  .inline[:homeLocation]=@user.location
                  .hide_last_child.inline &middot;
                -if @user.twitter.present?
                  =link_to icon("twitter", class: "fa-1x", style: "color: #{@user.color}"), "https://twitter.com/#{@user.twitter}"
                  .hide_last_child.inline &middot;
                -if @user.github.present?
                  =link_to icon("github", class: "fa-1x", style: "color: #{@user.color}"), "http://github.com/#{@user.github}"
                  .hide_last_child.inline &middot;
                -if current_user&.admin?
                  =link_to icon("envelope", class: "fa-1x", style: "color: #{@user.color}"), "mailto:#{@user.email}"
                  .hide_last_child.inline &middot;

          - if !show_comments?
            .clearfix.mt2
              .content[:description]
                = sanitize CoderwallFlavoredMarkdown.render_to_html(@user.about)

          %nav.clearfix.mt3
            %a.font-lg.py1.no-hover.mr3{href: profile_path(username: @user.username), style: "border-color: #{@user.color}; color: #{@user.color}", class: show_protips_active}
              =pluralize(@user.protips.size, 'Protips')

            %a.font-lg.py1.no-hover{href: profile_comments_path(username: @user.username), style: "border-color: #{@user.color}; color: #{@user.color}", class: show_comments_active}
              =pluralize(@user.comments.size, 'Comments')

          -if show_protips?
            #protips.clearfix.mt1.py2.border-top
              -if @user.protips.empty?
                .clearfix.mt3.p4.center
                  .diminish=icon('hand-peace-o', class: 'fa-3x')
              =render @user.protips

          -elsif show_comments?
            #comments.clearfix.mt1.py2.border-top
              -if @user.comments.empty?
                .clearfix.mt3.p4.center
                  .diminish=icon('hand-peace-o', class: 'fa-3x')
              -@user.comments.each do |comment|
                -if comment.article
                  .comment.clearfix.py2
                    .overflow-hidden
                      .mt0
                        Posted to
                        %a{:href => seo_protip_path(comment.article)}
                          =comment.article.title
                        =time_ago_in_words_with_ceiling(comment.created_at)
                        ago
                      .content.small.px2.mt1{style:"border-left: 3px solid #{@user.color}"}
                        =sanitize CoderwallFlavoredMarkdown.render_to_html(comment.body)

    - cache ['user-sidebar', @user, current_user] do
      .sm-col.sm-col.sm-col-12.md-col-4
        .clearfix.sm-ml3.mt3.p1
          %h5.mt0.mb1
            Achievements

          %h6.diminish
            =number_with_delimiter(@user.karma)
            Karma

          %h6.diminish.mb2
            =number_with_delimiter(@user.protips.sum(:views_count))
            Total ProTip Views

          -@user.badges.each do |badge|
            .dropdown.relative.mr1.mt1
              =image_tag badge.path, width: 35, height: 35
              .dropdown-content.absolute.bg-white.p2.border.z4.right-0{style: 'width: 200px'}
                %h6.mt0=badge.name
                .mt0.diminish[:award]=badge.description

        - if @user.skills.any? || current_user&.admin?
          .clearfix.sm-ml3.mt3.p1
            %h5.mt0.mb1
              Interests & Skills

            - @user.skills.each do |tag|
              .diminish.btn.pl0=link_to tag, popular_topic_path(topic: tag)
