<% stream_css_id = Digest::SHA1.hexdigest(source) # dom_id(stream) %>
<div id='<%=stream_css_id%>'></div>

<script>
  jwplayer.key="<%=ENV['JWPLAYER_KEY']%>";

  jwplayer("<%=stream_css_id%>").setup({
     sources: [{
      file: <%== source.to_json %>
    }],
    image: <%== asset_url('offline-holder').to_json %>,
    stretching: "fill",
    captions: {
      color: "FFCC00",
      backgroundColor: "000000",
      backgroundOpacity: 50
    }
  }).onPlay(constrainChatToStream);

function updateLiveStats() {
  $.getJSON(<%== live_stream_stats_path(@user.username).to_json %>, function(data) {
    $('#js-live-viewers').text(data.connections)
  })
}
setInterval(updateLiveStats, 5000)
updateLiveStats()

</script>
