<div id='<%=dom_id(stream)%>'></div>

<script>
  jwplayer.key="<%=ENV['JWPLAYER_KEY']%>";

  jwplayer("<%=dom_id(stream)%>").setup({
     sources: [{
      file: <%== stream.rtmp.to_json %>
    }],
    captions: {
      color: "FFCC00",
      backgroundColor: "000000",
      backgroundOpacity: 50
    }
  }).onPlay(constrainChatToStream);

function updateLiveStats() {
  $.getJSON(<%== live_stream_stats_path(@user.username).to_json %>, function(data) {
    $('#js-live-viewers').text(data.connections - 1)
  })
}
setInterval(updateLiveStats, 5000)
updateLiveStats()

</script>
