-title "Live Stream #{@stream.title}"
-description 'Coders at work.'

-content_for :breadcrumbs do
  .mxn1.font-tiny.mt0.diminish
    %a.btn.px1{href: live_streams_path} Live Streams
    .inline.mr1 /
    =@user.username

.container
  .clearfix
    .col.col-12.md-col-8
      .clearfix.mt0.mb1
        -if @stream.live?
          .left
            .rounded.p1.bg-red.white.bold LIVE
        %h3.left.m0.p1
          =@stream.title

        .right
          .diminish.inline.mr1
            =icon("eye")
            343
          &middot;
          .ml1.mr1.inline
            =link_to @user.username, profile_path(username: @user.username)
          .avatar[:image]{style: "background-color: #{@user.color};"}
            =avatar_url_tag(@user)

      .card{style: "border-top:solid 5px #{@user.color}"}
        .stream=render 'streams/player', stream: @stream
        .clearfix.p2
          .col.col-8.mt2[:keywords]
            -@stream.tags.each do |tag|
              %h6.diminish.inline.mr1=link_to tag, popular_topic_path(topic: tag)
          .col.col-4.py2
            -# message
            -# follow
            -# donate
            %a.right.mr1
              =icon('twitter', class: 'h5')
              Share
            %a.right.inline.px2
              =icon('flag', class: 'h5')
              Report


        .clearfix.p2
          %h4 About Stream
          %p.content[:description]
            = sanitize CoderwallFlavoredMarkdown.render_to_html(@stream.about)

        .clearfix.p2
          %a.no-hover.black{href: profile_path(username: @user.username)}
            .left.avatar.big[:image]{style: "background-color: #{@user.color};"}
              =avatar_url_tag(@user)
            .overflow-hidden
              %h1.ml2.mt0.mb0[:name]= @user.display_name
              %h4.ml2.mt1
                -if @user.display_title.present?
                  =@user.display_title
                  .hide[:jobTitle]= @user.title
                  .hide[:worksFor]= @user.company
                  .hide_last_child.inline &middot;
                -if @user.location.present?
                  .inline[:homeLocation]=@user.location
                  .hide_last_child.inline &middot;

          %h4 Streams




    .col.col-12.md-col-4
      .flex.flex-column.ml3
        %h4.diminish Community Discussion
        #chat.flex-auto.overflow-scroll.border-top{style:"max-height:400px"}
          .diminish.center.py2 Start of discussion
          =render @stream.comments
        .flex-last.mt2
          -if !signed_in?
            .clearfix.border.rounded.p0.m0.bg-white
              %a.col.font-sm.p1.bold{href: sign_up_path}
                Sign up
                to comment
              %button.right.btn.m0.right.bg-gray.silver{disabled: true}
                =icon('lock', class: 'mr1')
                Send

          -elsif @stream.live?
            = form_for Comment.new, class: '' do |form|
              = form.hidden_field :stream_id, value: @stream.id
              .border.rounded.p0.m0.bg-white
                = form.text_field :body, class: 'col-9 focus-no-border font-sm  resize-chat-on-change m0', placeholder: "Comment", style: 'border: none; outline: none;', value: flash[:data]

                .right.col-3.m0
                  %button.btn.m0.right.bg-green.white{type: 'submit', style: 'height: 100%;'} Send
          -else
            .clearfix.border.rounded.p0.m0.bg-white
              .col.font-sm.bold.gray.p1
                Commenting disabled
              %button.right.btn.m0.right.bg-gray.silver{disabled: true}
                =icon('lock', class: 'mr1')
                Send

      -if show_ads?
        .clearfix.ml3.mt4
          #bsap_1305410.bsarocks.bsap_74f50e679004d8f4d62fec4b0f74ccf1
          -if Rails.env.development?
            %img{src: 'http://placehold.it/350x200'}
