#clearance.password-reset
  %h2= t(".title")
  %p= t(".description")
  = form_for :password, url: passwords_path do |form|
    .text-field
      = form.label :email
      = form.text_field :email, type: 'email'
    .submit-field
      = form.submit
