!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{property: 'current_user:id', content: current_user.try(:id)}
    = display_meta_tags(default_meta_tags)
    = env_stylesheet_link_tag(static: 'application_static', hot: 'application_non_webpack', media: 'all', 'data-turbolinks-track' => 'reload')
    = env_javascript_include_tag(hot: ['http://localhost:3500/vendor-bundle.js', 'http://localhost:3500/app-bundle.js'])
    = env_javascript_include_tag(static: 'application_static', hot: 'application_non_webpack', 'data-turbolinks-track' => 'reload')
    = javascript_include_tag 'https://content.jwplatform.com/libraries/pEaCoeG7.js'
    = csrf_meta_tags
    = render 'shared/analytics'
    = yield :head
  %body
    .clearfix
      = render 'shared/header'
      = yield :hero
      .mt1.px3
        =yield :breadcrumbs
        -if flash[:notice].present?
          .clearfix.rounded.py2.mt3.white.bg-navy.bold.center.font-lg=flash[:notice]
      %main
        .py2.px3=yield
      %footer.border-top
        %nav.clearfix
          .col.col-4.py1.mt1
            %a.btn{href:"https://twitter.com/coderwall", target:'_blank'}
              @coderwall
              =icon("twitter", class: "fa-1x ml1")
          .col.col-8.py2.mt1
            .right
              %a.inline-block.ml1{href: 'https://github.com/coderwall/coderwall-next', rel: 'nofollow'}
                =icon("github-alt")
              %a.inline-block.ml1{href: popular_topic_path(topic: 'hackerdesk')}
                .sm-show=icon("gift")
              %a.inline-block.ml1.mr1{href: 'mailto:support@coderwall.com'}
                Contact
              %a.inline-block.mr1{href: privacy_path} Privacy
              %a.inline-block.mr1{href: tos_path} Terms
              %p.inline-block.diminish.inline.mr1="Copyright #{Time.now.strftime('%Y')}"

    = redux_store("store", props: store_data) if store_data
    = render 'shared/tracking'
