!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{property: 'current_user:id', content: current_user.try(:id)}
    = display_meta_tags(default_meta_tags)
    = stylesheet_link_tag 'coderwall', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'coderwall', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'application/analytics'
  %body
    .flex.flex-column{:style => "min-height:100vh"}
      = render 'application/header'
      .mt1.px3
        =yield :breadcrumbs
        -if flash[:notice].present?
          .clearfix.rounded.py2.mt3.white.bg-navy.bold.center.font-lg=flash[:notice]
      %main.flex-auto.py3
        .px3=yield
      = render 'application/footer'
  = render 'application/tracking'
