!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{property: 'current_user:id', content: current_user.try(:id)}
    = display_meta_tags(default_meta_tags)
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = stylesheet_link_tag 'minimal', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'https://content.jwplatform.com/libraries/pEaCoeG7.js'
    = csrf_meta_tags
    = render 'shared/analytics'
    = yield :head
  %body
    =yield

  = render 'shared/tracking'
